nav {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir,
		Helvetica, sans-serif;
	z-index: 999;
	text-align: center;
	width: 100%;
	background-color: #0d1620 !important;
	height: 65px !important;
}
ul {
	display: flex;
	justify-content: space-between;
}
nav > ul {
	position: relative;
	padding: 4px 16px;
}
li {
	display: flex;
	padding: 8px 8px;
}
a,
p {
	color: lightslategray !important;
	text-decoration: none !important;
	font-size: 1.5em;
	padding-right: 15px;
	text-shadow: 2px 2px #0d1260;
}
.avatar-img {
	vertical-align: middle;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid lightslategray;
}
.avatar-live {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.5em;
	border: 1px solid lightslategray !important;
}
.avatar-container {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
}
.avatar-editor {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	canvas,
	div {
		border-radius: 0.5em !important;
	}
}
.avatar-header {
	margin-left: auto;
	margin-right: auto;
	color: lightslategray;
	text-shadow: 2px 2px #0d1260;
}
.modal-header {
	border-bottom: 1px solid lightslategray !important;
}
.modal-content {
	background: #0d1620 !important;
	border: 1px solid lightslategray !important;
}
.modal-footer {
	border-top: 1px solid lightslategray !important;
}
.phone-trivia {
	img {
		object-fit: contain;
		height: 2.5rem;
	}
}
//Error Toast
#error-toast {
	visibility: hidden;
	width: 250px;
	margin-left: -125px;
	background-color: crimson;
	color: white;
	text-align: center;
	border-radius: 0.3rem;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 0px;
	font-size: 0.9rem;
	opacity: 0;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
#error-toast.show {
	visibility: visible;
	bottom: 90px;
	opacity: 1;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
#error-toast.hide {
	bottom: 0px;
	opacity: 0;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
//Score Toast
#score-toast {
	visibility: hidden;
	width: 100px;
	text-align: right;
	border-radius: 0.3rem;
	position: fixed;
	z-index: 1;
	right: 72px;
	bottom: 45px;
	line-height: 1.8rem;
	font-size: 1.8rem;
	font-style: italic;
	text-shadow: 1px 1px #0d1620;
	opacity: 0;
}
#score-toast.show {
	visibility: visible;
	-webkit-animation: fadeinout 1.7s ease-out forwards;
	animation: fadeinout 1.7s ease-out forwards;
}
@-webkit-keyframes fadeinout {
	0%,
	100% {
		opacity: 0;
		bottom: 45px;
	}
	50% {
		opacity: 1;
		bottom: 65px;
	}
}
@keyframes fadeinout {
	0%,
	100% {
		opacity: 0;
		bottom: 45px;
	}
	50% {
		opacity: 1;
		bottom: 65px;
	}
}

@media only screen and (max-width: 600px) {
	body {
		font-size: 12px !important;
	}
	nav {
		a,
		p {
			font-size: 1.6em;
		}
	}
}
