.player-container {
	width: 100vw;
	height: calc(100vh - 65px);
	background-color: #212529;
}
.player-ui {
	max-width: 85%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.disabled {
		pointer-events: none !important;
		cursor: not-allowed !important;
		opacity: 0.35 !important;
		filter: alpha(opacity=35) !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
	.answer {
		pointer-events: none !important;
		cursor: not-allowed !important;
		box-shadow: none !important;
		border: 3px solid black !important;
	}
	h3 {
		color: lightslategray;
		text-align: center;
		font-size: 2em;
	}
	h5 {
		color: white;
		text-align: center;
		font-size: 1.75em;
	}
	img {
		margin-right: 5px;
		border: 1px solid white;
		width: 25px;
		height: 25px;
		border-radius: 50%;
	}
}
.player-ui p {
	text-align: center;
}
.player-ui .btn-lg {
	margin-bottom: 10px !important;
	color: #212529;
	height: 5.5em;
	font-size: 1.3em;
}
.qr {
	margin-bottom: 25px;
	text-align: center;
}
.qr-reader {
	width: 100%;
}
.player-card {
	margin-bottom: 25px;
	text-decoration: none;
	text-align: center;
	border-radius: 0.4rem;
	background-color: crimson !important;
}
.player-card p {
	margin: 0;
	padding: 12px 0 0;
	font-size: 13px;
	color: #000000;
}
.player-card h3 {
	color: black !important;
}

.player-card h1 {
	margin-top: 5px;
}

@media only screen and (min-width: 600px) {
	.player-ui {
		max-width: 500px;
	}
}
